force-app/main/default/flows/Send_Slack_Modal_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>OptIntoCampaign_Clicked</name>
        <label>OptIntoCampaign Clicked</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OptIntoCampaign_was_clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.timoverbrugghe__Action_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OptIntoCampaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Modal</targetReference>
            </connector>
            <label>OptIntoCampaign was clicked</label>
        </rules>
    </decisions>
    <interviewLabel>Send Slack Modal Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Slack Modal Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_Slack_Modal</name>
        <label>Send Slack Modal</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <inputAssignments>
            <field>Modal__c</field>
            <value>
                <stringValue>{ 	&quot;type&quot;: &quot;modal&quot;, 	&quot;title&quot;: { 		&quot;type&quot;: &quot;plain_text&quot;, 		&quot;text&quot;: &quot;My App&quot;, 		&quot;emoji&quot;: true 	}, 	&quot;submit&quot;: { 		&quot;type&quot;: &quot;plain_text&quot;, 		&quot;text&quot;: &quot;Submit&quot;, 		&quot;emoji&quot;: true 	}, 	&quot;close&quot;: { 		&quot;type&quot;: &quot;plain_text&quot;, 		&quot;text&quot;: &quot;Cancel&quot;, 		&quot;emoji&quot;: true 	}, 	&quot;blocks&quot;: [ 		{ 			&quot;type&quot;: &quot;section&quot;, 			&quot;text&quot;: { 				&quot;type&quot;: &quot;mrkdwn&quot;, 				&quot;text&quot;: &quot;You are about to opt your region into the following campaign.\n\n*Click Submit to confirm your interest in this campaign.*&quot; 			} 		}, 		{ 			&quot;type&quot;: &quot;divider&quot; 		}, 		{ 			&quot;type&quot;: &quot;section&quot;, 			&quot;text&quot;: { 				&quot;type&quot;: &quot;mrkdwn&quot;, 				&quot;text&quot;: &quot;&gt;*Campaign Name:*\n&gt;Best Day Ever\n&gt;*Campaign Type:*\n&gt;Video\n&gt;*When:*\n&gt;Winter-Spring 2022&quot; 			}, 			&quot;accessory&quot;: { 				&quot;type&quot;: &quot;image&quot;, 				&quot;image_url&quot;: &quot;https://files.slack.com/files-pri/TDU0K41E1-F032L3N4DCN/screen_shot_2022-02-11_at_12.55.40_pm.png?pub_secret=bc8cae9b7a&quot;, 				&quot;alt_text&quot;: &quot;plants&quot; 			} 		}, 		{ 			&quot;type&quot;: &quot;divider&quot; 		}, 		{ 			&quot;type&quot;: &quot;context&quot;, 			&quot;elements&quot;: [ 				{ 					&quot;type&quot;: &quot;mrkdwn&quot;, 					&quot;text&quot;: &quot;:nike: _All sales are final! Just kidding, you can remove your region from this campaign at a later day, if you so choose._&quot; 				} 			] 		} 	] }</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_ID__c</field>
            <value>
                <elementReference>$Record.Trigger_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Slack_Modal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OptIntoCampaign_Clicked</targetReference>
        </connector>
        <object>Slack_Button_Clicked__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SlackModal</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
	&quot;type&quot;: &quot;modal&quot;,
	&quot;title&quot;: {
		&quot;type&quot;: &quot;plain_text&quot;,
		&quot;text&quot;: &quot;My App&quot;,
		&quot;emoji&quot;: true
	},
	&quot;submit&quot;: {
		&quot;type&quot;: &quot;plain_text&quot;,
		&quot;text&quot;: &quot;Submit&quot;,
		&quot;emoji&quot;: true
	},
	&quot;close&quot;: {
		&quot;type&quot;: &quot;plain_text&quot;,
		&quot;text&quot;: &quot;Cancel&quot;,
		&quot;emoji&quot;: true
	},
	&quot;blocks&quot;: [
		{
			&quot;type&quot;: &quot;section&quot;,
			&quot;text&quot;: {
				&quot;type&quot;: &quot;mrkdwn&quot;,
				&quot;text&quot;: &quot;You are about to opt your region into the following campaign.\n\n*Click Submit to confirm your interest in this campaign.*&quot;
			}
		},
		{
			&quot;type&quot;: &quot;divider&quot;
		},
		{
			&quot;type&quot;: &quot;section&quot;,
			&quot;text&quot;: {
				&quot;type&quot;: &quot;mrkdwn&quot;,
				&quot;text&quot;: &quot;&gt;*Campaign Name:*\n&gt;Best Day Ever\n&gt;*Campaign Type:*\n&gt;Video\n&gt;*When:*\n&gt;Winter-Spring 2022&quot;
			},
			&quot;accessory&quot;: {
				&quot;type&quot;: &quot;image&quot;,
				&quot;image_url&quot;: &quot;https://files.slack.com/files-pri/TDU0K41E1-F032L3N4DCN/screen_shot_2022-02-11_at_12.55.40_pm.png?pub_secret=bc8cae9b7a&quot;,
				&quot;alt_text&quot;: &quot;plants&quot;
			}
		},
		{
			&quot;type&quot;: &quot;divider&quot;
		},
		{
			&quot;type&quot;: &quot;context&quot;,
			&quot;elements&quot;: [
				{
					&quot;type&quot;: &quot;mrkdwn&quot;,
					&quot;text&quot;: &quot;:nike: _All sales are final! Just kidding, you can remove your region from this campaign at a later day, if you so choose._&quot;
				}
			]
		}
	]
}</text>
    </textTemplates>
</Flow>
