force-app/main/default/flows/Test_Create_Slack_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test_Create_Slack_Channel</name>
        <label>Test Create Slack Channel</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>CreateSlackChannelAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Slack_Message_for_Introduction</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelName</name>
            <value>
                <elementReference>ChannelName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ChannelId</assignToReference>
            <name>channelId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <interviewLabel>Test Create Slack Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Create Slack Channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_Slack_Message_for_Introduction</name>
        <label>Send Slack Message for Introduction</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>{ 	&quot;blocks&quot;: [ 		{ 			&quot;type&quot;: &quot;section&quot;, 			&quot;text&quot;: { 				&quot;type&quot;: &quot;mrkdwn&quot;, 				&quot;text&quot;: &quot;Hello, Assistant to the Regional Manager Dwight! *Michael Scott* wants to know where you&apos;d like to take the Paper Company investors to dinner tonight.\n\n *Please select a restaurant:*&quot; 			} 		}, 		{ 			&quot;type&quot;: &quot;divider&quot; 		}, 		{ 			&quot;type&quot;: &quot;section&quot;, 			&quot;text&quot;: { 				&quot;type&quot;: &quot;mrkdwn&quot;, 				&quot;text&quot;: &quot;*Farmhouse Thai Cuisine*\n:star::star::star::star: 1528 reviews\n They do have some vegan options, like the roti and curry, plus they have a ton of salad stuff and noodles can be ordered without meat!! They have something for everyone here&quot; 			}, 			&quot;accessory&quot;: { 				&quot;type&quot;: &quot;image&quot;, 				&quot;image_url&quot;: &quot;https://s3-media3.fl.yelpcdn.com/bphoto/c7ed05m9lC2EmA3Aruue7A/o.jpg&quot;, 				&quot;alt_text&quot;: &quot;alt text for image&quot; 			} 		}, 		{ 			&quot;type&quot;: &quot;section&quot;, 			&quot;text&quot;: { 				&quot;type&quot;: &quot;mrkdwn&quot;, 				&quot;text&quot;: &quot;*Kin Khao*\n:star::star::star::star: 1638 reviews\n The sticky rice also goes wonderfully with the caramelized pork belly, which is absolutely melt-in-your-mouth and so soft.&quot; 			}, 			&quot;accessory&quot;: { 				&quot;type&quot;: &quot;image&quot;, 				&quot;image_url&quot;: &quot;https://s3-media2.fl.yelpcdn.com/bphoto/korel-1YjNtFtJlMTaC26A/o.jpg&quot;, 				&quot;alt_text&quot;: &quot;alt text for image&quot; 			} 		}, 		{ 			&quot;type&quot;: &quot;section&quot;, 			&quot;text&quot;: { 				&quot;type&quot;: &quot;mrkdwn&quot;, 				&quot;text&quot;: &quot;*Ler Ros*\n:star::star::star::star: 2082 reviews\n I would really recommend the  Yum Koh Moo Yang - Spicy lime dressing and roasted quick marinated pork shoulder, basil leaves, chili &amp; rice powder.&quot; 			}, 			&quot;accessory&quot;: { 				&quot;type&quot;: &quot;image&quot;, 				&quot;image_url&quot;: &quot;https://s3-media2.fl.yelpcdn.com/bphoto/DawwNigKJ2ckPeDeDM7jAg/o.jpg&quot;, 				&quot;alt_text&quot;: &quot;alt text for image&quot; 			} 		}, 		{ 			&quot;type&quot;: &quot;divider&quot; 		}, 		{ 			&quot;type&quot;: &quot;actions&quot;, 			&quot;elements&quot;: [ 				{ 					&quot;type&quot;: &quot;button&quot;, 					&quot;text&quot;: { 						&quot;type&quot;: &quot;plain_text&quot;, 						&quot;text&quot;: &quot;Farmhouse&quot;, 						&quot;emoji&quot;: true 					}, 					&quot;value&quot;: &quot;click_me_123&quot; 				}, 				{ 					&quot;type&quot;: &quot;button&quot;, 					&quot;text&quot;: { 						&quot;type&quot;: &quot;plain_text&quot;, 						&quot;text&quot;: &quot;Kin Khao&quot;, 						&quot;emoji&quot;: true 					}, 					&quot;value&quot;: &quot;click_me_123&quot;, 					&quot;url&quot;: &quot;https://google.com&quot; 				}, 				{ 					&quot;type&quot;: &quot;button&quot;, 					&quot;text&quot;: { 						&quot;type&quot;: &quot;plain_text&quot;, 						&quot;text&quot;: &quot;Ler Ros&quot;, 						&quot;emoji&quot;: true 					}, 					&quot;value&quot;: &quot;click_me_123&quot;, 					&quot;url&quot;: &quot;https://google.com&quot; 				} 			] 		} 	] }</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slack_Channel__c</field>
            <value>
                <elementReference>ChannelId</elementReference>
            </value>
        </inputAssignments>
        <object>Slack_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_Create_Slack_Channel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChannelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChannelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>test-timo-verbrugghe-create-channel7</stringValue>
        </value>
    </variables>
</Flow>
